.nav-button {
    background: radial-gradient(circle at 30% 30%, #a62525, #6e0e0e);
    color: #fff;
    border: 2px solid #4b0b0b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    @media (max-width: 600px) {
      margin: 2rem;
    }
  }